/* CSS Document */
*{
	padding: 0px;
	margin: 0px;
}
body{
	padding: 0px;
	margin: 0px;
}
.main{
	width: 1024px;
	margin: 0 auto;
}
.clr{
	clear: both;
}
.header{
	background:url(../img/header-bg.png) no-repeat;
	padding: 10px 0px;
	background-size: cover;
	border-bottom: 4px solid #797979;
}
.logo{
	float: left;	
}
.contact{
    float: right;
}

.share img{
	display: inline-block;
}
.ph img{
    background: #ed1c24;
    padding: 8px;
    border-radius: 20px;
	float: left;
	display: block;
}
.ph p{
    float: left;
    font-size: 18px;
    font-family: arial;
    padding: 6px 0px 0px 2px;
}
.menu{
    float: left;
    padding-top: 16px;
}
.menu ul{
	list-style: none;
}
.menu li{
    float: left;
    padding: 0px 24px 0px 24px;
}
.menu li a{
    color: black;
    text-decoration: none;
    padding: 0px 10px 11px 10px;
    font-size: 18px;
    font-family: arial;
}
.menu li a:hover{
    border-bottom: 4px solid red;
}
.banner-1{

    background: url(../img/b1-bg.png) no-repeat;
    background-size: auto auto;
    background-size: cover;
    padding: 200px 0px 40px 0px;
}
.sl{
	padding: 150px 0px 0px 0px;
}
.shadow{
	background-color: rgba(0,0,0,0.70	);
	padding: 40px 0px;
}
.b1-item{
	text-align: center;
	font-family: arial;
	font-size: 15px;
	color: #fff;
}
.b1-item img{
	padding: 0px 0px 10px 0px;
}
.b1-item h1{
	text-transform: uppercase;
	padding: 0px 0px 6px 0px;
}
.dots{
    text-align: center;
}
.dots ul{
    list-style: none;
}
.dots li{
    display: inline-block;
	padding: 0px 2px;
}
.dots li a{
	display: inline-block;
}
.dots li a:hover{
    background: #fff;
    border-radius: 20px;
}
.dots li a:visited{
	background: #fff;
}
.banner-2{
}
.b2-box{
    width: 290px;
    float: left;
    text-align: center;
    transition: 0.2s;
    padding: 50px 25px;
}
.b2-box:hover{
	background: #f4dfe0;
}
.b2-box:hover img{
	display: none;
}
.b2-box .hover{
	display: none;
}
.b2-box:hover .hover{
	display: inline-block;
	transition: 0.2s;
}
.b2-box h2{
    font-family: arial;
    font-weight: 100;
	padding: 4px 0px;
}
.b2-box p{
    font-family: arial;
    font-weight: 100;
}
.b2-box a{
    font-family: arial;
    font-weight: 100;
    color: #fff;
    background: #808080;
    display: inline-block;
    padding: 6px 10px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 10px;
	transition: 0.2s;
}
.b2-box a:hover{
	background: #f4666c;
}
.banner-3{
    background: url(../img/b3bg.png) no-repeat;
    background-size: auto auto;
    padding: 70px 0px;
    background-size: cover;
}
.b3-text{
	color: #fff;
	font-family: arial;
	line-height: 23px;
}
.b3-text img{
	float: left;
	padding: 0px 20px 0px 0px;
}
.b3-text span{
    float: left;
    width: 750px;
    margin-top: 35px;
}
.banner-4{
	background: #faefef;
	padding: 40px 0px;
}
.bl{
	width: 280px;
	border-right: 6px solid #dddbdb;
	float: left;
	padding: 40px 0px;
}
.bm{
	float: left;
	width: 440px;
	padding: 0px 0px 0px 20px;
}
.bl h1{
    font-size: 60px;
    font-weight: 100;
    color: #464444;
}
.t1{
	padding: 10px 0px;
}
.tm{
	padding: 10px 0px;
	border-top: 6px solid #dddbdb;
	border-bottom: 6px solid #dddbdb;
}
.t1 h3{
	color: #464444;
}
.t1 p{
	color: #464444;
}
.t1 img{
	float: left;
	padding-right: 10px;
}
.tm h3{
	color: #464444;
}
.tm p{
	color: #464444;
}
.tm img{
	float: left;
	padding-right: 10px;
}
.br{
    float: left;
    width: 245px;
    background: #617aa3;
    padding: 10px 15px;
    border-radius: 20px;
}
.br img{
	float: left;
	padding-right: 10px;
	border-right: 2px solid #fff;
}
.br a{
	text-decoration: none;
}
.br h3{
    margin-left: 46px;
    color: #fff;
	font-family: arial;
	font-weight: 100;
}